<%- include("./partials/header.ejs") %>
<h1>Landing page title</h1>

<p>
    This is a web application for self-monitoring purposes. It provides users an opportunity to report behavior daily. 
    Upon registration you can report 
</p>

<h2>Summary for all users</h2>

    <p><% if (today.mood) {%>Average mood today is <%= today.mood %>.<% } else {%>Mood has not been reported for today.<%} %>
        <% if (yesterday.mood) {%>Average mood yesterday was <%= yesterday.mood %>.<% } else {%>Mood was not reported for yesterday.<%} %>
    </p>
    <p>
        <%if (!today.mood || !yesterday.mood) {%>The averages of today and yesterday cannot be compared.<%} else if (Number(today.mood) >= Number(yesterday.mood)) {%>Things are looking brighter today!<%} else {%>Things are looking gloomy today...<%} %>  
    </p>

<h2>User functionality</h2>

<p><a href="/behavior/reporting">Go to reporting.</a> <i>Login is required.</i></p>

<p><a href="/behavior/summary">Go to summarization.</a> <i>Login is required.</i></p>

<p><a href="/auth/login">Go to login.</a></p>

<p><a href="/auth/registration">Go to registration.</a></p>

<p><a href="/auth/logout">Go to logout.</a></p>

<%- include("./partials/footer.ejs") %> 