<%- include("./partials/header.ejs") %> 
<h1>Landing page title</h1>

This is one application that ....

<h2>Summarization</h2>
    <p>Overall mood</p>
    <p>It is better/worse now</p>

<p>Login here</p>
Press here to go to summarization.

Press here to go to reporting
<%- include("./partials/footer.ejs") %> 