<%- include("./partials/header.ejs") %>
<h1>Report morning</h1>
<body>
    <form method="POST" action="/report/morning">
        <input type="range" name="Mood" min=1 max=5>
        <input type="number" name="Sleep Duration" min=1 max=5>
        <input type="number" name="Sleep Quality" min=1 max=5>
        <input type="date" name="Date">
        <input type="submit" name="Submit Morning Report">
    </form>
</body>
<%- include("./partials/footer.ejs") %>