<%- include("./partials/header.ejs") %>
<body>
    <ul>
        <% reports.forEach((report) => { %>
            <li>report info here. Possibly functionality to open specific report.</li>
        <% }); %>
    </ul>
</body>
<%- include("./partials/footer.ejs") %>