<%- include("./partials/header.ejs") %>
<body>
    Choose the type of reporting you want to do.
    <input type="button" name="Morning" onclick="" >
    <input type="button" name="Evening" onclick="" >
</body>
<%- include("./partials/footer.ejs") %>