<%- include("./partials/header.ejs") %>
<h1>Report evening</h1>
<body>
    <form method="POST" action="/report/evening">
        <input type="range" name="Mood" min=1 max=5>
        <input type="number" name="Sport and Exercise" min=1 max=5>
        <input type="number" name="Study" min=1 max=5>
        <input type="range" name="Eating" min=1 max=5>
        <input type="date" name="Date">
        <input type="submit" name="Submit Morning Report">
    </form>
</body>
<%- include("./partials/footer.ejs") %>