<%- include("../partials/header.ejs") %> 
<%- include("../partials/error.ejs") %> 
<h1>Login</h1>
<p>Enter your email address and password to login.</p>
<form method="POST" action="/auth/login">
    <label for="email">Email address:</label>
    <input type="email" id="email" name="email" /><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" /><br>
    <input type="submit" value="Login!" />
</form>
<p>
    If you are not registered yet, <a href="/auth/registration">press here</a> to go to registration.
    Or <a href="/">return to the landing page.</a>
</p>
<%- include("../partials/footer.ejs") %> 