<%- include("../partials/header.ejs") %> 
<%- include("../partials/error.ejs") %> 
<h1>Login</h1>
<form method="POST" action="/auth/login">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login!" />
</form>
<p>If you are not registered yet, <a href="/auth/registration">press here</a> to go to registration.</p>
<%- include("../partials/footer.ejs") %> 