<%- include("../partials/header.ejs") %>
<%- include("../partials/auth.ejs") %>
<h1>Logout</h1>
<p>You may logout here.</p>
<form method="POST" action="/auth/logout">
    <label for="logout">Press here to log out.</label>
    <input type="submit" id="logout" name="logout" title="Logout!">
</form>
<a href="/">Return to the landing page.</a>
<%- include("../partials/footer.ejs") %> 