<%- include("../partials/header.ejs") %>
<body>
    <h2>Choose the type of reporting you want to do.</h2>

    <p>
        <label for="morning"><strong>Press here to do a morning report:</strong></label>
        <input type="button" value="Morning" id="morning" onclick="window.location.href='/behavior/reporting/morning'" ><br>
        Morning reporting done for today: <strong><%= morning_done %></strong>
    </p>

    <p>
        <label for="evening"><strong>Press here to do an evening report.</strong></label>
        <input type="button" value="Evening" id="evening" onclick="window.location.href='/behavior/reporting/evening'" ><br>
        Evening reporting done for today: <strong><%= evening_done %></strong>
    </p>
</body>
<p><a href="/">Press here</a> to return to the landing page.</p>
<%- include("../partials/footer.ejs") %>