<%- include("../partials/header.ejs") %>
<h1>Report morning</h1>
<body>
    <form method="POST" action="/behavior/reporting/morning">
        <input type="range" name="mood" value="1" min=1 max=5>
        <input type="number" name="sleep_duration" value="0" min=0 max=24>
        <input type="range" name="sleep_quality" value="1" min=1 max=5>
        <input type="date" name="date">
        <input type="submit" name="Submit Morning Report">
    </form>
</body>
<%- include("../partials/footer.ejs") %>